/* Wrapper (main) */

	#wrapper {
		#sidebar + & {
			margin-left: _size(sidebar-width);

			@include breakpoint('<=large') {
				margin-left: 0;
				padding-top: _size(sidebar-height);
			}

			@include breakpoint('<=small') {
				padding-top: 0;
			}
		}

		h2#contact,
		h2#solutions {
			background: none;
			padding: 0;
			padding-bottom: 20px;
			margin: 40px 0;
		}

		#header + & {
			> .wrapper {
				> .inner {
					margin: 0 auto;
				}
			}
		}
	}